restcountry.json
{
    "name": "Info de País desde Telegram",
    "nodes": [
      {
        "parameters": {
          "updates": [
            "message"
          ],
          "authentication": {
            "type": "accessToken",
            "accessToken": "TU_TOKEN_DE_BOT"
          }
        },
        "id": "Telegram Trigger",
        "name": "Telegram Trigger",
        "type": "n8n-nodes-base.telegramTrigger",
        "typeVersion": 1,
        "position": [200, 300]
      },
      {
        "parameters": {
          "url": "https://restcountries.com/v3.1/name={{$json[\"message\"][\"text\"]}}",
          "responseFormat": "json",
          "options": {}
        },
        "id": "HTTP Request",
        "name": "HTTP Request",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [400, 300]
      },
      {
        "parameters": {
          "functionCode": "const country = items[0].json;\n\nreturn [\n  {\n    json: {\n      text: `🌍 País: ${country.name.common}\n🌐 Región: ${country.region}\n🏙️ Capital: ${country.capital ? country.capital[0] : 'N/A'}\n👥 Población: ${country.population.toLocaleString()}\n💰 Moneda: ${Object.values(country.currencies)[0].name}\n🗣️ Idioma: ${Object.values(country.languages)[0]}`\n    }\n  }\n];"
        },
        "id": "Code",
        "name": "Code",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [600, 300]
      },
      {
        "parameters": {
          "chatId": "={{$node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"]}}",
          "text": "={{$json[\"text\"]}}",
          "authentication": {
            "type": "accessToken",
            "accessToken": "TU_TOKEN_DE_BOT"
          }
        },
        "id": "Send Message",
        "name": "Send Message",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1,
        "position": [800, 300]
      }
    ],
    "connections": {
      "Telegram Trigger": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Code",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code": {
        "main": [
          [
            {
              "node": "Send Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "active": false
  }